@import "tailwindcss";

h1 {
  font-family: var(--font-press-start-2p) !important;
}

h2, h3, h4, h5, h6 {
  font-family: var(--font-chakra-petch) !important;
  font-weight: 600; 
} 

body {
  font-family: var(--font-handjet);
  font-weight: 400; 
}

html {
  scroll-behavior: smooth;
}


body {
  background-color: #18181b;
  background-image: url("/image.png");
  background-size: 200px 200px;
  background-position: 0 0;
}

.path {
  stroke-dasharray: 500px 100px;
  animation: animate 100s linear infinite alternate-reverse;
}

@keyframes animate {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 12433.8193359375;
  }
}
